html {
    background-color: rgb(15, 15, 15);
}

header {
    border: 2px solid rgb(255, 254, 167);
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

nav {
    /* border: 2px solid rgb(255, 254, 167); */
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    height: 30px;
    line-height: 10px;

}

article {
    border: 2px solid rgb(255, 254, 167);
    margin: 0 auto;
    width: 85%;
}

h3 {}

.EmailAddress {
    font-weight: 700;
}