* {
    background-color: rgb(15, 15, 15);
    color: white;
}

header {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    white-space: nowrap;
}

nav {
    margin-top: 25px;
    margin-bottom: 55px;
    width: 85%;
    height: 55px;
}

article {
    border: 2px solid rgb(255, 254, 167);
    margin: 10px;
    width: 650px;
    max-width: 1000px;
    min-width: 300px;
    text-align: center;
}

section {
    background-color: rgb(32, 32, 32);
    margin: 5%;
}

aside {
    display: flex;
}

.EmailAddress {
    font-weight: 700;
}

.OtherPages {
    font-weight: 700;
}

.OtherPageLink {
    color: white;
}

.Articles {
    display: flex;
    justify-content: center;
}

.ArticleHT {
    text-decoration-line: none;
}

.ArticleName {
    background-color: rgb(32, 32, 32);
}

.ArticleItemImg {
    width: 40%;
    height: 40%;
}

.OngoingProjects {
    margin-right: 15px;
}

.CompletedProjects {
    margin-left: 15px;
}